name: NuGet Package

on:
  workflow_run:
    workflows: [CI]
    types: [completed]
    branches: [main]

permissions:
  actions: read
  contents: write

jobs:
  nuget:
    name: Publish
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.actor != 'dependabot[bot]' }}
    uses: dailydevops/pipelines/.github/workflows/publish-nuget.yml@64e8ecb63f4be55266aeae5f69f543c712ca19e7 # 1.3.3
    with:
      workflowName: ${{ github.event.workflow_run.name }}
      artifactPattern: release-packages-*
      environment: NuGet
      runId: ${{ github.event.workflow_run.id }}
    secrets: inherit
